/* Overwrite docsearch */
.search-box {
  background: $color-background-search-box;
  border-radius: 4px;
  display: flex;
  padding: 5px 7px;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 10px 8px 0px 3px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 18px;
    min-width: 18px;
    width: 20px;
    background-image: url("../img/icons/icon-search.svg");
    filter: brightness(0.86);
  }

  .algolia-autocomplete {
    width: 100% !important;
    margin: 0 !important;
  }

  input {
    background: transparent !important;
    color: rgba(80, 80, 80, 0.7) !important;
    font-size: $font-base !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;

    &:focus {
      outline: none !important;
    }

    &::placeholder {
      color: rgba(80, 80, 80, 0.5) !important;
      opacity: 1 !important;
    }
  }

  .algolia-autocomplete .ds-dropdown-menu {
    width: 500px;
  }

  .algolia-autocomplete .typesense-docsearch-suggestion--category-header {
    color: $color-boulder;
    border: 1px solid $color-gray;
  }

  .algolia-autocomplete .typesense-docsearch-suggestion--subcategory-column {
    color: $color-gray;
  }

  .algolia-autocomplete .typesense-docsearch-suggestion--title {
    font-weight: bold;
    color: $color-mine-shaft;
  }

  .algolia-autocomplete .typesense-docsearch-suggestion--text {
    font-size: 0.8rem;
    color: $color-gray;
  }

  .algolia-autocomplete .typesense-docsearch-suggestion--highlight {
    color: $color-froly;
  }

  button {
    display: none !important;
  }
}

.er_search_suggestions {
  @include floating;
  border: 0 !important;

  .er-search-result-box {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-width: 1px !important;

    &:hover {
      background: $color-background-search-item-hover !important;
    }
  }

  .er_more_result_btn {
    cursor: pointer;
  }

  h3 {
    font-size: $font-base !important;
  }
}

/* Results page - TODO adjust for docsearch*/
.er-search-content {
  padding: 20px !important;
}

#er_search_results {
  .er-search-result-box {
    margin: 0 auto !important;
    margin-top: 10px !important;
    display: block !important;
  }

  .text {
    width: 100% !important;
  }
}

#search-result-input-form {
  max-width: 800px !important;
}

#er_search_button {
  text-align: center !important;
}

#er_clear_input {
  top: 0 !important;
  right: 0 !important;
}

.er-facet-header {
  background-color: transparent !important;
  border: 0 !important;
}

.er-facet-val {
  padding: 5px 2px !important;
}

/* Mobile */
.er-suggestion-sm {
  .er_search_input_dummy {
    margin: 0 !important;
  }
  .er_search_button_dummy {
    border: 0 !important;
  }
}

@media screen and (min-width: $medium) {
  .er-facets {
    display: none;
    width: initial !important;
    min-width: initial !important;
    max-width: 300px !important;
  }
}

@media screen and (min-width: $xlarge) {
  .er-facets {
    display: block;
    position: fixed !important;
  }
  .er-facet-count {
    display: none;
  }
}
