.subscribe {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: $gap;
  padding: 5rem;

  &__heading {
    &-subheading {
      font-size: 26px;
      font-variant: small-caps;
      line-height: 1.67;
      letter-spacing: 3px;
      font-weight: 300;
    }
  }

  &-input {
    border-radius: 4px 0px 0px 4px;
  }

  .button--reverse {
    border-radius: 0px 4px 4px 0px;
  }

  &-form {
    display: block;
    margin: 15px auto;
    max-width: 50%;
  }

  form {
    display: flex;
    justify-content: center;
  }
  input,
  textarea {
    margin-bottom: 0;
  }

  @media screen and (max-width: $large) {
    form {
      display: inline;
    }
    .subscribe-input {
      margin-bottom: 0.5rem;
      border-radius: 4px;
    }
    .button--reverse {
      padding: 0.5rem;
      border-radius: 4px;
    }
    &-form {
      width: 100%;
      max-width: none;
    }
  }
}
